{:paths ["src"]
 :deps {
   org.clojure/tools.deps.alpha {:mvn/version "0.11.911-SNAPSHOT"} ;; {:local/root "../tools.deps.alpha3"}
   org.clojure/tools.gitlibs {:mvn/version "2.3.167"}
 }
 :tools/usage {
   :ns.default clojure.tools.tools.api
 }
}
