{:paths ["src"]
 :deps {
   org.clojure/tools.deps.alpha {:local/root "../tools.deps.alpha3"} ;; {:mvn/version "0.11.910"}
   org.clojure/tools.gitlibs {:mvn/version "2.3.167"}
 }
 :tools/ns.default clojure.tools.tools.api
}
