name: Clojure Tests

permissions:
  contents: read

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install rlwrap
        run: sudo apt-get install -y rlwrap

      - name: Install Clojure Tools
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: latest

      - name: Run tests
        run: clj -X:test